/* *{
    background-color: blue;
}*/

/*esto es un comentario de 1 sola linea, css*/
body{
    background-color: aqua;
}

.container {
    background-color:rosybrown;
}
.classsection {
    background-color:azure ;
}